.Icon {
  background-repeat: no-repeat;
}
.Icon-1 {
  background-image: url(https://developer.accuweather.com/sites/default/files/01-s.png);
}
.Icon-2 {
  background-image: url(https://developer.accuweather.com/sites/default/files/02-s.png);
}
.Icon-3 {
  background-image: url(https://developer.accuweather.com/sites/default/files/03-s.png);

}
.Icon-4 {
  background-image: url(https://developer.accuweather.com/sites/default/files/04-s.png);

}
.Icon-5 {
  background-image: url(https://developer.accuweather.com/sites/default/files/05-s.png);

}
.Icon-6 {
  background-image: url(https://developer.accuweather.com/sites/default/files/06-s.png);

}
.Icon-7 {
  background-image: url(https://developer.accuweather.com/sites/default/files/07-s.png);

}
.Icon-8 {
  background-image: url(https://developer.accuweather.com/sites/default/files/08-s.png);

}
/*.Icon-9 {
  background-image: url();

}
.Icon-10 {
  background-image: url();

}*/
.Icon-11 {
  background-image: url(https://developer.accuweather.com/sites/default/files/11-s.png);

}
.Icon-12 {
  background-image: url(https://developer.accuweather.com/sites/default/files/12-s.png);

}
.Icon-13 {
  background-image: url(https://developer.accuweather.com/sites/default/files/13-s.png);

}
.Icon-14 {
  background-image: url(https://developer.accuweather.com/sites/default/files/14-s.png);

}
.Icon-15 {
  background-image: url(https://developer.accuweather.com/sites/default/files/15-s.png);

}
.Icon-16 {
  background-image: url(https://developer.accuweather.com/sites/default/files/16-s.png);

}
.Icon-17 {
  background-image: url(https://developer.accuweather.com/sites/default/files/17-s.png);

}
.Icon-18 {
  background-image: url(https://developer.accuweather.com/sites/default/files/18-s.png);

}
.Icon-19 {
  background-image: url(https://developer.accuweather.com/sites/default/files/19-s.png);

}
.Icon-20 {
  background-image: url(https://developer.accuweather.com/sites/default/files/20-s.png);
  background-repeat: no-repeat;
}
.Icon-21 {
  background-image: url(https://developer.accuweather.com/sites/default/files/21-s.png);

}
.Icon-22 {
  background-image: url(https://developer.accuweather.com/sites/default/files/22-s.png);

}
.Icon-23 {
  background-image: url(https://developer.accuweather.com/sites/default/files/23-s.png);

}
.Icon-24 {
  background-image: url(https://developer.accuweather.com/sites/default/files/24-s.png);

}
.Icon-25 {
  background-image: url(https://developer.accuweather.com/sites/default/files/25-s.png);

}
.Icon-26 {
  background-image: url(https://developer.accuweather.com/sites/default/files/26-s.png);

}
/*.Icon-27 {
  background-image: url();

}
.Icon-28 {
  background-image: url();

}*/
.Icon-29 {
  background-image: url(https://developer.accuweather.com/sites/default/files/29-s.png);

}
.Icon-30 {
  background-image: url(https://developer.accuweather.com/sites/default/files/30-s.png);

}
.Icon-31 {
  background-image: url(https://developer.accuweather.com/sites/default/files/31-s.png);

}
.Icon-32 {
  background-image: url(https://developer.accuweather.com/sites/default/files/32-s.png);

}
.Icon-33 {
  background-image: url(https://developer.accuweather.com/sites/default/files/33-s.png);

}
.Icon-34 {
  background-image: url(https://developer.accuweather.com/sites/default/files/34-s.png);

}
.Icon-35 {
  background-image: url(https://developer.accuweather.com/sites/default/files/35-s.png);

}
.Icon-36 {
  background-image: url(https://developer.accuweather.com/sites/default/files/36-s.png);

}
.Icon-37 {
  background-image: url(https://developer.accuweather.com/sites/default/files/37-s.png);

}
.Icon-38 {
  background-image: url(https://developer.accuweather.com/sites/default/files/38-s.png);

}
.Icon-39 {
  background-image: url(https://developer.accuweather.com/sites/default/files/39-s.png);

}
.Icon-40 {
  background-image: url(https://developer.accuweather.com/sites/default/files/40-s.png);

}
.Icon-41 {
  background-image: url(https://developer.accuweather.com/sites/default/files/41-s.png);

}
.Icon-42 {
  background-image: url(https://developer.accuweather.com/sites/default/files/42-s.png);

}
.Icon-43 {
  background-image: url(https://developer.accuweather.com/sites/default/files/43-s.png);

}
.Icon-44 {
  background-image: url(https://developer.accuweather.com/sites/default/files/44-s.png);

}
