.container {
  max-width: 1000px;
  height: 850px;
  margin: 50px auto;
  background-image: url(https://s.yimg.com/os/mit/media/m/weather/images/fallbacks/lead/cloudy_d-e618500.jpg);

}

* {
  border: 1px solid black;
  padding: 1px;
}

header {
  background-color: #eebb44;
  margin-bottom: 10px;
  background-image: url(https://s.yimg.com/os/mit/media/m/weather/images/fallbacks/lead/cloudy_d-e618500.jpg);
  color: #fff;
}

.js-form, .row, .js-search-results, .js-forecast-results {
 text-align: center;
}
.js-forecast-results, .js-forecast-phrase, .js-city-result, .js-date-time-result, .js-forecast-temp {
  color: white;
  font-size: 30px;
}
.js-forecast-results {
  position: relative;
  height: 70px;
  width: 70px;
  float: right;
}
.js-forecast-phrase {
  height: 60px;
  width: 90px;
}

.js-city-result {
  height: 20%;
  width: 100%;
  font-size: 60px;
  margin-left: 20px;
}
.js-date-time-result {
  position: relative;
  height: 20%;
  width: 50%;
  top: 50px;
}
.container-2 {
  background-color: #240e35;
  position: relative;
  margin: 0 auto;
  top: 66px;
  height: 450px;
  width: 800px;
  mix-blend-mode: darken;

}

.js-forecast-temp {
  height: 60px;
  width: 90px;
}

h1 {
  font-size: 6vw;
  text-align: center;
  padding: 10px 0;
  font-family: Arial;
  font-weight: bold;
  background: #240e35;
  color: #fff;
  mix-blend-mode: darken;
}

.js-submit {
 height: 22px;
 width: 58px;
}

.hidden {
  display: none;
}
